<style>

img{
width:"500";
height="250";
}
h1{
color: crimson;
}
body{
background-color:BlanchedAlmond;
}
body{
color: firebrick;
}

.PANCAKES:hover{
  background-color:gold;
}
</style>
